 <div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Create a new ingredient</h1>

      <%= simple_form_for @ingredient do |f| %>
        <%= f.input :name %>
        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
